.p-10{
  padding: 10px;
}

.p-20{
  padding: 20px;
}

.p-20-10{
  padding: 20px 10px;
}

.p-20-30{
  padding: 20px 30px;
}

.p-30{
  padding: 30px;
}

.m-b-0{
  margin-bottom: 0;
}

.cursor-pointer{
  cursor: pointer;
}

.theme-bg-color{
  background-color: #00aba4;
}

.theme-color{
  color: #00aba4;
}

.menu-header:hover{
  background-color: #00aba4;
  color:#fff;
}

.h-100px{
  height: 100px;
}

.disabled{
  pointer-events: none;
  opacity: 0.8;
}
